.text_button {
   color: var(--color-button-text);
}

.text_light-grey {
   color: var(--color-light-grey-text);
}

.text_white {
   color: var(--color-white);
}

.text_green {
   color: var(--color-green);
}

.max {
   width: 100%;
}

.size_44 {
   font-size: var(--size-44);
}
.size_32 {
   font-size: var(--size-32);
}
.size_38 {
   font-size: var(--size-38);
}
.size_30 {
   font-size: var(--size-30);
}
.size_26 {
   font-size: var(--size-26);
}
.size_24 {
   font-size: var(--size-24);
}
.size_22 {
   font-size: var(--size-22);
}
.size_20 {
   font-size: var(--size-20);
}
.size_18 {
   font-size: var(--size-18);
}
.size_17 {
   font-size: var(--size-17);
}
.size_16 {
   font-size: var(--size-16);
}
.size_15 {
   font-size: var(--size-15);
}
.size_14 {
   font-size: var(--size-14);
}
.size_13 {
   font-size: var(--size-13);
}
.size_12 {
   font-size: var(--size-12);
}
.size_11 {
   font-size: var(--size-11);
}
.size_10 {
   font-size: var(--size-10);
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.normal {
   font-weight: 400;
}

.semibold {
   font-weight: 500;
}

.bold {
   font-weight: 700;
}

.extrabold {
   font-weight: 900;
}
