@import '@/app/styles/variables/mixins.scss';

.Sidebar {
   height: 100vh;
   width: var(--sidebar-width);
   background-color: var(--color-white);
   position: fixed;
   border-right: 1px solid var(--color-outlined);
   top: 0;
   left: 0;

   .switchers {
      position: absolute;
      bottom: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
   }

   .lang {
      margin-left: 20px;
   }

   .collapseBtn {
      position: absolute;
      right: -32px;
      bottom: 32px;
      z-index: 10;
   }
}

.logo {
   width: 210px;
   height: var(--header-height);
   @include flex-column-center;
   font-family: 'Pattaya';
   @include font(var(--size-16), var(--weight-700), var(--color-light-green));
   line-height: 18px;
   letter-spacing: 1px;
   padding: 15px;
   border-bottom: 1px solid var(--color-outlined);
   border-right: 1px solid var(--color-outlined);
}

.logoName {
   font-size: var(--size-20);
   margin-top: 15px;
}

.collapsed {
   width: var(--sidebar-width-collapsed);

   .switchers {
      flex-direction: column;
      align-items: center;
   }

   .lang {
      margin-left: 0;
   }
}
