.Sidebar {
   height: 100vh;
   width: var(--sidebar-width);
   background-color: var(--color-white);
   position: fixed;
   border-right: 1px solid var(--color-outlined);
   top: 0;
   left: 0;

   .switchers {
      position: absolute;
      bottom: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
   }

   .lang {
      margin-left: 20px;
   }

   .collapseBtn {
      position: absolute;
      right: -32px;
      bottom: 32px;
      z-index: 10;
   }
}

.logo {
   border-bottom: 1px solid var(--color-outlined);
   border-right: 1px solid var(--color-outlined);
   padding: 12px;
   width: 210px;
   height: var(--header-height);
}

.collapsed {
   width: var(--sidebar-width-collapsed);

   .switchers {
      flex-direction: column;
      align-items: center;
   }

   .lang {
      margin-left: 0;
   }
}
