.TitleComponent {
   width: 100%;
   height: 720px;
   padding-top: calc(var(--header-height) + 24px);
   padding-bottom: 123px;
   background: linear-gradient(132.95deg, #07523f 17.35%, #05372b 97.15%);
}

.infoContainer {
   max-width: 1014px;
   width: 100%;
   margin: 0 auto;
   position: relative;

   &::before {
      content: url(../../../../shared/assets/images/round-header-type-home.svg);
      position: absolute;
      bottom: -70px;
      right: -40px;
      z-index: 0;
   }
}

.title {
   width: 440px;
   font-weight: 700;
   font-size: 66px;
   line-height: 66px;
   z-index: 1;
}

.production {
   width: 520px;
   color: var(--color--light-green-cyan);
   margin: 22px 0 35px;
   z-index: 1;
}

.featuresList {
   width: 520px;
}

.featuresItem {
   position: relative;
   width: 259px;
   margin-bottom: 28px;
   padding-left: 40px;
   font-size: 16px;
   line-height: 18px;
   background-image: url(../../../../shared/assets/icons/icon-check-yellow.svg);
   background-position: 6px 1px;
   background-repeat: no-repeat;
   color: var(--color-white);
}

.buttonSelect {
   padding: 8px 16px;
   box-shadow: 0 0 0 10px rgb(255 247 46 / 17%);
   margin-top: 71px;
   margin-left: 10px;
   position: relative;
   justify-content: flex-start;

   &::after {
      content: '';
      position: absolute;
      right: 20px;
      content: url(../../../../shared/assets/icons/icon-arrow-right.svg);
      margin-left: 13px;
   }
}

.image {
   position: absolute;
   top: 50%;
   right: 47px;
   max-width: 414px;
   transform: translate(0, -50%);
   margin-top: 35px;
}
