.EquipmentComponent {
   width: 100%;
   height: 721px;
   background-color: #ebeff5;
   position: relative;
   padding: 60px 0 32px;

   &::before {
      position: absolute;
      content: url(../../../../shared/assets/images/round-oborudovaniye.svg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 175px;
      margin-top: 2px;
      z-index: 1;
   }
}

.mainInfo {
   position: relative;
   max-width: 1034px;
   padding: 0 10px;
   margin: 0 auto;
   height: 721px;
   background-image: url(../../../../shared/assets/images/oborudovaniye.png);
   background-position: 323px 120px;
   background-repeat: no-repeat;
   background-size: 391px;
   z-index: 2;
}

.container {
   padding-top: 50px;
}

.description {
   margin: 16px 0 35px 0;
}

.itemContainer {
   display: grid;
   grid-template-columns: 69px 255px;
   gap: 5px 10px;
   grid-template-rows: auto;

   .image {
      width: 69px;
      height: 69px;
      grid-row: span 2;
   }
}

.button {
   margin: 70px 0 15px;
}
