@import '@/app/styles/variables/mixins.scss';

.item {
   width: 100%;
   height: 48px;
   padding-left: 20px;
   border-bottom: 1px solid var(--color-outlined);
   border-right: 1px solid var(--color-outlined);
   display: flex;
   align-items: center;
}

.link {
   font-size: var(--size-14);
   font-weight: var(--weight-500);
   color: var(--color-link);
   opacity: 1;
}

.icon {
   fill: var(--inverted-primary-color);
}

.collapsed {
   .link {
      opacity: 0;
      transition: 0.2s opacity;
      width: 0;
   }
}

.active {
   background: linear-gradient(
      89.97deg,
      rgba(94, 211, 243, 0.3) 1.15%,
      rgba(94, 211, 243, 0) 99.97%
   );
   position: relative;
   border-left: 2px solid var(--accent-redesigned);
}
