.Page {
   width: 100%;
   display: flex;
}

.vertical {
   flex-direction: column;
   align-items: center;
}

.horizontal {
   flex-direction: row;
   flex-wrap: wrap;
}

.align_start {
   align-items: start;
}

.align_end {
   align-items: end;
}

.align_center {
   align-items: center;
}

.arrowTop {
   position: fixed;
   right: 2vw;
   bottom: 2vh;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: 60% auto;
   background-color: #c6803c;
   color: transparent;
   opacity: 0.5;
   filter: invert(1);
   transform: rotate(270deg);
   transition: all 0.3s;
   border-radius: 10px;
   z-index: 100;

   svg {
      width: 25px;
   }
}
// .trigger {
//    height: 20px;
//    margin: 10px;
// }
