@media screen and (max-width: 600px) {
   .logo {
      font-size: 10px;
      height: var(--header-height-mobile);
      padding: 0;
      width: var(--sidebar-width-mobile);
      border-right: none;
   }

   .logoName {
      font-size: var(--size-14);
   }
}
