.CatalogInfo {
   width: 100%;
   padding: 66px 0 69px;
}

.container {
   max-width: var(--page-width);
   margin: 0 auto;
}

.info {
   width: 507px;
}

.advantages {
   width: 412px;
   padding: 24px 44px 24px 24px;
   background-color: #fbfcef;
   border-radius: 15px;
}
