@import '../../../app/styles/variables/mixins.scss';

footer {
   width: 100%;
   padding: 40px 0;
   background: #f4f6f9;
   box-shadow: 0px -1px 0px #d3d5d8;
}

.container {
   position: relative;
   max-width: var(--page-width);
   padding: 0 10px;
   margin: 0 auto;
}

.footerInfo {
   width: 38.8%;
}

.logo1 {
   text-align: start;
   font-family: 'Pattaya';
   @include font(var(--size-20), var(--weight-700), var(--color-green));
   letter-spacing: 1px;
   cursor: pointer;
}

.logo {
   display: inline-block;
   text-align: start;
   width: fit-content;
   font-family: 'Pattaya';
   @include font(var(--size-20), var(--weight-700), var(--color-green));
   background-image: url('../../../shared/assets/icons/icon-warm.png');
   background-repeat: no-repeat;
   background-position: 65%;
   background-size: 27px;
   letter-spacing: 1px;
   cursor: pointer;
}

.textInfo {
   width: 385px;
   margin-top: 20px;
   font-size: var(--size-13);
   line-height: 19px;
   color: var(--color-light-grey-text);
}

.post {
   color: var(--color-green);
}

.infoLinks {
   gap: 23px 53px;
   margin: 43px 0 30px;
}

.links {
   // width: 500px;
}

.link {
   color: var(--color-green);
   font-size: var(--size-13);
}

.sequrityInfo {
   width: 335px;
}

.politics {
   color: var(--color-primary);
   font-size: var(--size-11);
}
