@import '../../../app/styles/variables/mixins.scss';

footer {
   width: 100%;
   padding: 40px 0;
   background: #f4f6f9;
   box-shadow: 0px -1px 0px #d3d5d8;
}

.container {
   position: relative;
   max-width: var(--page-width);
   padding: 0 10px;
   margin: 0 auto;
}

.footerInfo {
   width: 38.8%;
}

.logo {
   width: fit-content;
}

.textInfo {
   width: 385px;
   margin-top: 30px;
   font-size: var(--size-13);
   line-height: 19px;
   color: var(--color-light-grey-text);
}

.post {
   color: var(--color-green);
}

.infoLinks {
   gap: 23px 53px;
   margin: 43px 0 30px;
}

.links {
   // width: 500px;
}

.link {
   color: var(--color-green);
   font-size: var(--size-13);
}

.sequrityInfo {
   width: 335px;
}

.politics {
   color: var(--color-primary);
   font-size: var(--size-11);
}
