@import '@/app/styles/variables/mixins.scss';

.NavbarItem {
   width: 100%;
}

.item {
   width: 100%;
   height: 48px;
   padding-left: 20px;
   border-bottom: 1px solid var(--color-outlined);
   display: flex;
   align-items: center;
   position: relative;

   &.nested {
      padding-left: 30px;
   }

   &.linkButton {
      justify-content: flex-start;

      .arrow {
         position: absolute;
         top: 20px;
         right: 20px;
         width: 10px;
         height: 10px;
         transform: rotate(90deg);
         -webkit-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
         -moz-transition: all 0.2s ease;
         transition: all 0.2s ease;
         fill: #06892e;

         &.arrowActive {
            transform: rotate(270deg);
         }
      }
   }

   .link {
      font-size: var(--size-14);
      font-weight: var(--weight-500);
      color: var(--color-link);
      opacity: 1;
      padding-left: 4px;
   }

   &.active {
      background: linear-gradient(89.97deg, var(--color-bg-component) 1.15%, rgba(94, 211, 243, 0) 99.97%);
      position: relative;
      border-left: 4px solid var(--color--cyan-bluish-gray);
   }

   &:hover:not(.active) {
      opacity: 0.8;
      border-left: 4px solid var(--color--pale-cyan-blue);

      .link {
         padding-left: 0;
      }
   }
}

.collapsed {
   .link {
      opacity: 0;
      transition: 0.2s opacity;
      width: 0;
   }
}
