@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

@import 'reset';
@import 'variables/global';
@import 'colors';
@import 'fonts/inter.scss';

body {
   overflow-x: hidden;
}

.root {
   font-family: 'Inter', sans-serif;
   display: flex;
   justify-content: center;
}

.app {
   width: 100%;
   padding-left: var(--sidebar-width);
}

.main {
   width: 100%;
}
