.SignComponent {
   width: 100%;
   padding: 65px 0;
}

.image {
   width: 360px;
   border: 2px solid #98596b;
   cursor: pointer;
}

.imagePopup {
   height: 892px;
}

.subtitle {
   width: 442px;
   margin-top: 16px;
   line-height: 25px;
}
