.SignComponent {
   width: 100%;
   padding: 65px 0;
}

.image {
   width: 360px;
   border: 2px solid #98596b;
   cursor: pointer;
}

.imagePopup {
   width: 360px;
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: all 0.3s;
   transition: all 0.3s;

   &.openImage {
      -webkit-transform: scale(1.7);
      transform: scale(1.7);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
   }
}

.subtitle {
   width: 442px;
   margin-top: 16px;
   line-height: 25px;
}
