.header {
   width: 80%;
   height: var(--header-height);
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: transparent;
   z-index: 7;

   &.headerActive {
      background-color: var(--color-white);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid var(--color-outlined);
   }

   .headerContainer {
      max-width: 1310px;
      width: 100%;
      height: 100%;
   }
}

.button {
   border: 2px solid var(--color-yellow);
   color: var(--color-white);

   &:hover {
      background-color: var(--color-yellow);
      color: var(--color--black);
   }

   &.buttonActive {
      color: var(--color--black);
   }
}

.number {
   margin-right: 40px;

   &.numberActive {
      color: var(--color--black);
   }
}
