.header {
   width: calc(100vw - var(--sidebar-width));
   height: var(--header-height);
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: var(--color-bg-primary-header);
   display: flex;
   align-items: center;
   backdrop-filter: blur(10px);
   z-index: 7;
}

.menuIcon {
   fill: var(--color-green);
}

.headerContainer {
   width: 100%;
   position: relative;
}

.menuLink {
   margin-bottom: 15px;
   cursor: pointer;
}

.delivery_text:last-child {
   margin-left: 20px;
}

.button {
   margin-top: 10px;
}
