.PageLoader {
   min-height: calc(100vh - var(--header-height));
   width: calc(100vw - var(--sidebar-width));
   background-color: rgba(0, 0, 0, 0.714);
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   z-index: 10;
   opacity: 0.95;
}
