.ContactsPage {
   background: #f5f8fb;
   align-items: flex-start;
}

.container {
   padding: 24px 0 66px;
   max-width: var(--page-width);
   width: 100%;
   margin: 0 auto;
}

.title {
   margin: 5px 0 20px;
}

.infoContainer {
   width: 460px;
}

.info {
   width: 100%;
   margin-bottom: 32px;
   padding: 32px 21px;
   background: #ffffff;
   border-radius: 12px;
}

.blockPhone {
   margin-bottom: 12px;
   padding-left: 24px;
   background-image: url(../../../../shared/assets/icons/icon-phone.svg);
   background-repeat: no-repeat;
   background-position: 1px 4px;

   span {
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
   }
}

.textInfo {
   width: 385px;
   margin-top: 10px;
   font-size: var(--size-15);
   line-height: 20px;
}

.email {
   margin-bottom: 12px;
   padding-left: 23px;
   background-image: url(../../../../shared/assets/icons/icon-email.svg);
   background-repeat: no-repeat;
   background-position: 0px 6px;
   font-size: 16px;
   line-height: 25px;
   color: #282828;
   font-weight: 500;
   cursor: default;
}

.address {
   padding-left: 23px;
   font-size: 16px;
   line-height: 25px;
   font-weight: 500;
   background-image: url(../../../../shared/assets/icons/icon-address.svg);
   background-repeat: no-repeat;
   background-position: 1px 7px;
}

.buttonContainer {
   width: 100%;
}

.labelButton {
   font-size: 17px;
   line-height: 40px;
}

.map {
   border-radius: 12px;
   overflow: hidden;
}
