.modal {
   width: 414px;
   padding: 30px 32px;
   background-color: white;
   border-radius: 15px;
   font-family: 'Inter';
   position: relative;

   svg {
      fill: rgb(159, 159, 159);
   }
}

.title {
   margin-bottom: 8px;
}

.subtitle {
   margin-bottom: 30px;
}

.form {
   border-top: 1px solid #e5e5e5;

   span {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      padding-left: 3px;
      color: red;
   }

   input[name='copyemail'] {
      display: block;
      width: 2px;
      height: 2px;
      margin-top: 0;
      margin-bottom: -2px;
      border: none;
      padding: 0;
      opacity: 0.01;
   }

   input[name='phone'] {
      width: 100%;
      padding: 10px 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #3e3d59;
      background: #f7f7fb;
      border: 1px solid #a8a2b4;
      border-radius: 6px;
      margin-top: 30px;
   }
}

.message {
   width: 100%;
   height: 110px;
   line-height: 22px;
   resize: none;
   padding: 10px 20px;
   font-weight: 400;
   font-size: 16px;
   color: #3e3d59;
   background: #f7f7fb;
   border: 1px solid #a8a2b4;
   box-sizing: border-box;
   border-radius: 6px;
   margin-top: 30px;
}

.btn {
   background-color: #ffd800;
   color: #231f20;
   border: none;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   border-radius: 8px;
   margin-top: 30px;
   cursor: pointer;
}

.textPopup {
   margin-top: 30px;
   padding-top: 30px;
   color: #686868;
   line-height: 22px;
   border-top: 1px solid #c0c0c0;
}
