.header {
   width: 100%;
   height: var(--header-height);
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: transparent;
   z-index: 7;

   &.headerActive {
      background-color: rgb(255 255 255 / 90%);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid var(--color-outlined);
   }

   .headerContainer {
      width: 72%;
      height: 100%;
   }
}

.dealer {
   margin-left: 100px;
   font-size: var(--size-20);
   font-weight: var(--weight-700);
   color: var(--color-white);

   &.headerActive {
      color: var(--color-primary);
   }
}

.button {
   border: 2px solid var(--color-yellow);
   color: var(--color-white);

   &:hover {
      background-color: var(--color-yellow);
      color: var(--color--black);
   }

   &.headerActive {
      color: var(--color--black);
   }
}

.number {
   margin-right: 40px;

   &.headerActive {
      color: var(--color--black);
   }
}
